---
import BaseLayout from "../layouts/BaseLayout.astro"
import Articles from "../components/Articles.astro"
---

<BaseLayout articlesCurrent="current">
    <section
        id="articles"
        class="articles"
    >
        <div class="container">
            <div class="page-container">
                <article class="article-dark">
                    <h1 class="l-heading">Articles</h1>
                    <p
                        >Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Alias accusamus architecto iste omnis corrupti
                        dignissimos illum minus molestiae amet provident soluta
                        suscipit, itaque, porro perspiciatis minima aliquid
                        aliquam voluptatem doloribus modi! Illum necessitatibus
                        magnam distinctio exercitationem quisquam aliquam
                        laborum possimus deleniti velit praesentium, eius
                        ratione dignissimos molestiae natus impedit et?</p
                    >
                    <br />
                    <p
                        >Lorem ipsum dolor, sit amet consectetur adipisicing
                        elit. Debitis, velit? Recusandae earum iure tempore
                        nihil neque! Mollitia tempora aspernatur assumenda eaque
                        error, consectetur eligendi quae ducimus a nesciunt
                        vitae facere temporibus doloremque, ratione nostrum
                        incidunt corrupti officia itaque saepe hic sunt
                        corporis. Molestias minus molestiae odit neque ab
                        delectus quam fugiat nihil debitis veritatis, est ea,
                        possimus facere repudiandae excepturi.</p
                    >
                </article>

                <aside class="card">
                    <h2>Join The Chain</h2>
                    <p
                        >Sign Up for a Seven Day Free trail and recieve full
                        access to out premium content</p
                    >
                    <a
                        href="#"
                        class="btn btn-dark btn-block">Join Now</a
                    >
                </aside>
            </div>
        </div>
    </section>
</BaseLayout>
