---
// import CreatePost from "../components/CreatePost.astro";
import { getAllPosts } from "../lib/posts";
const posts = await getAllPosts();
if (!posts) {
  return new Response(null, {
    status: 404,
    statusText: "Not found",
  });
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>Astro</title>
  </head>
  <body>
    <h1>Blocklink</h1>
    <ul>
      {
        posts.map((post) => (
          <li>
            {post.title}, {post.text}
          </li>
        ))
      }
    </ul>
  </body>
</html>
