---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getAllPosts } from "../lib/posts";

const posts = await getAllPosts()
if (!posts) {
    return new Response(null, {
        status: 404,
        statusText: "Not found",
    })
}
---

<BaseLayout>
    <h1>Blocklink</h1>
    <ul>
        {
            posts.map((post) => (
                <li>
                    {post.title}, {post.text}
                </li>
            ))
        }
    </ul>
</BaseLayout>
