<footer
    id="main-footer"
    class="main-footer py-2"
>
    <div class="container footer-container">
        <div>
            <img
                class="footer-logo"
                src="/images/4-no-background.png"
                alt="The Chain Link Logo"
            />
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati placeat ex porro doloribus modi.</p> -->
        </div>
        <div class="email-newsletter">
            <h3>Email Newsletter</h3>
            <p>Stay up to date with upcoming specials and discounts</p>
            <form>
                <input
                    type="email"
                    placeholder="Enter email..."
                />
                <input
                    type="submit"
                    value="Subscribe"
                    class="subscribe-btn btn btn-primary"
                />
            </form>
        </div>
        <div class="site-links">
            <h3>Site Links</h3>
            <ul class="list">
                <li><a href="#">Support</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div class="join-now">
            <h2>Make the link</h2>
            <p
                >Sign Up for a Seven Day Free trail and recieve full access to
                out premium content</p
            >
            <a
                href="#"
                class="btn btn-primary">Join Now</a
            >
        </div>
        <div>
            <p class="copyright"> Copyright &copy; 2022, All Rights Reserved</p>
        </div>
    </div>
</footer>
