<nav id="main-nav">
    <div class="nav-container">
        <div class="logo-container">
            <img
                class="logo-triangle"
                src="../../images/4-no-background.png"
                alt="The Chain Link Logo"
            />
        </div>
        <div>
            <h1 class="nav-heading">BLOCKCHAIN DECRYPTED</h1>
        </div>
    </div>
</nav>
