---
import Head from "../components/Head.astro"
import Nav from "../components/Nav.astro"

import Footer from "../components/Footer.astro"
import logo from "../images/logo.svg"
import favicon from "../favicon.svg"
---

<!DOCTYPE html>
<html lang="en">
    <Head favicon={favicon} />
    <body>
        <Nav logo={logo} />
        <slot />
        <Footer />
    </body>
</html>
